<h2>
    Welcome To Tavolo
</h2>
<h3>
    <% if current_user%>
        <%= link_to "Welcome", restaurants_path %>
    <%else%>
        Please <%= link_to "Sign in", new_user_session_path %> to continue
    <%end%>
</h3>