<h2 class="general f">
    Welcome To Tavolo
</h2>
<h3 class="general f">
    <% if current_user%>
        <%= link_to "Welcome", restaurants_path %>
    <%else%>
        Please <%= link_to "Sign in", new_user_session_path %> to continue
    <%end%>
</h3>