// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.all{
    display: flex;
    justify-content: center;
}
.general{
    color : rgb(41, 41, 41);
    text-shadow: 1px 1px 3px rgb(212, 212, 212);
    
}

